{% extends 'base.html.twig' %}
{%- block head -%}

{% endblock %}
{%- block css -%}
    {{ encore_entry_link_tags('styles') }}
    {{ encore_entry_link_tags('backend') }}
{%- endblock css -%}

{% block body %}
    <body>
    <div id="wrapper" data-roles="{{ user.roles[0] }}">
        <backend-base></backend-base>
    </div>
    {{ encore_entry_script_tags('backend') }}
    {%- block javascriptAppended -%}{%- endblock javascriptAppended -%}
    </body>
{% endblock %}