<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A example of a support ticket system">
    <meta name="author" content="TallmanCode">
    <title>{% block title %}Tick-It - Finding support{% endblock %}</title>
    {%- block head -%}
    {%- endblock head -%}
    {%- block css -%}{%- endblock css -%}
    {%- block cssAppended -%}{%- endblock cssAppended -%}
</head>
{% block body %}
    <body>
        <div id="app">
            {% block content %}
            {% endblock content %}
        </div>
    {%- block javascript -%}{%- endblock javascript -%}
    {%- block javascriptAppended -%}{%- endblock javascriptAppended -%}
    </body>
{% endblock %}
</html>
