//Table

//Header Row
$vue-table-header-colour: #768192 !default;
$vue-table-header-border-top: 1px solid !default;
$vue-table-header-border-bottom: 1px solid !default;
$vue-table-header-border-colour:  #d8dbe0 !default;
$vue-table-header-bg-colour: #ffffff !default;
$vue-table-header-v-align: bottom !default;
$vue-table-header-cell-padding: .75rem !default;

//Pagination
$vue-table-pagination-colour: #768192 !default;
$vue-table-pagination-bg-colour: #ffffff !default;
$vue-table-pagination-border: 1px solid !default;
$vue-table-pagination-border-colour: #d8dbe0!default;
$vue-table-pagination-border-radius: .25rem !default;
